<div class='header'>
    <a class='logo' [routerLink]='["/" + deployment_id]' [innerHTML]='deployment?.uiLogoHtml'>
    </a>
</div>
<div class='container'>

    @if (!answer) {
        <h1>Ask Anything&hellip;</h1>
        <h2>&hellip;and we'll try to locate the answer in <span [innerHTML]='deployment?.uiDisplayHtml'></span></h2>    
    }
    
    
    <div class='input' [class.answer]='!!answer'>
        @if (!fullAnswer) {
            <input #input placeholder='what are you looking for?' [(ngModel)]='question' [disabled]='!!loading || !!answer' (keydown)='keydown($event)'>
        } @else {
            <div class='question'>{{ question }}</div>
        }
        @if (!answer) {
            <button class='send' (click)='searcher.ask()' [disabled]='!!loading' [class.visible]='question'></button>
        }
    </div>
    
    @if (!answer && !steps.length) {
        @if (deployment?.examples) {
            <div class='examples'>
                <h3>Not sure what to search for? Here are a few examples:</h3>
                <div class='example-list'>
                    @for (example of deployment?.examples ; track example) {                        
                        <div class='example'>- &nbsp;"
                            <a (click)='searcher.ask(example)'>{{ example }}</a>
                        "</div>
                    }
                </div>
            </div>
        }
    } @else if (!answer) {
        <div class='steps'>
            @for (step of steps; track $index) {
                <div class='step' [attr.data-kind]='step.kind' [class.last]='$index === steps.length - 1'>
                    <div class='step-icon'></div>
                    <div class='step-text'>{{step.message}}</div>
                </div>
            }
        </div>
    } @else {
        <div class='answer' [innerHTML]='answer'></div>            
    }
    @if (fullAnswer) {    
        <div class='related'>
            <h3 [class.loading]='relatedQuestions === null'>Related Questions</h3>
            <div class='related-list'>
                @if (relatedQuestions && relatedQuestions.length > 0) {
                    @for (related of relatedQuestions; track related.id) {
                        <a class='related-question' [routerLink]='["/" + deployment_id, "a", related.id]'>{{ related.question }}</a>
                    }
                }
                <a class='ask-again' [routerLink]='["/" + deployment_id]'>Ask a new question</a>
            </div>
        </div>
    }
</div>
